h2 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    justify-content: center;
}

.form-register {
    margin-top: 50px;
    width: 50%;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-buttons-container {
    display: flex;
    justify-content: space-between;
}

.form-control:focus {
    border-color: #ced4da;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.1);
    outline: none;
  }

#register-button {
    background-color: #008000;
    border:none;
    outline: none;
    margin-right: 10px;
}

#clean-button {
    margin-right: 10px;
}

